body {
    font-family: Georgia, serif;
    text-align: center;
}

.weather-app {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e60808;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#weather-info {
    margin-top: 20px;
}
